db.sqlite3
FuntooNote/__pycache__/__init__.cpython-38.pyc
FuntooNote/__pycache__/settings.cpython-38.pyc
FuntooNote/__pycache__/wsgi.cpython-38.pyc
envVariable.sh
AppSecret.py
FuntooNote/__pycache__/
migrations
User/__pycache__/
NoteApp/__pycache__/
